.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

 &--centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
  }


  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: 1.1rem 1.9rem;
    max-width: 300px;
    width: 100%;
    margin-top:35px;
    margin-bottom:35px;
    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

}