.headline {
  font-size: 1.9rem;
  font-weight: 300;
  color: $mainBlue;

  &__divider{
    background-color: $mainBlue;
    width:100%;
  }
  @mixin atSmall {
    font-size: 2.875rem;
  }

  &--centered {
    text-align: center;
  }

  &--medium {
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 700;
  }

  &--card-medium {
      font-size: 1.1rem;
      line-height: 1.8;
      font-weight: 600;
  }

  &-- {
    margin-top:20px;
  }

  &--card-light{
  font-size: 1.1rem;
  line-height: .7;
  font-weight: 400;
  }

  &--inverted{
    color: #FFF;
  }

  &--small {
    font-size: 1.2rem;
    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

&--light{
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 300;
  }

  strong {
    font-weight: 400;
  }

  &--b-margin-small {
    margin-bottom: .5em;
  }

  &--b-margin-large {
    margin-bottom: 1.6em;
  }

  &--t-margin {
    margin-top:20px;
  }

  &--no-t-margin {
    margin-top: 0;
  }

  &--no-margin {
    margin: 0;
  }
}