.info {
    background-color: $mainBlue;
    width: 100%;
    &__profile-link{
        display: none;

    }

    @mixin atLarge{
        min-height: 1037px;
        max-width:400px;
        margin: 18px;
        margin-bottom: 100px;
        padding: 25px;

         &__profile-link{
            display: block;
            text-align: center;
        }

    }

    &__general-container{
        padding: 15px;
        margin: 0 auto;
        text-align: center;
        display: block;
    }

    &__photo-container{
        overflow: hidden;
        width: 100%;
        margin: 35px auto 0 auto;
        @mixin atMedium{
            border-radius: 100%;
            width: 100%;
        }
        @mixin atLarge{
            margin: 18px auto;
            width: 100%;

        }
    }

   &__photo {
       background-color: $subBlue;
    display: block;
    border-radius: 100%;
    max-width: 320px;
    width: 95%;
    height: 95%;
    margin: 35px auto 0 auto;
    border: 6px solid #bfd0df;
  }

   &--responsive-visible {
       display: block;
   }
}
