.info {
    margin: 18px;
    margin-bottom: 100px;
    padding: 25px;
    background-color: $mainBlue;
    max-width:400px;

    @mixin atLarge{
        min-height: 1037px;
    }

    &__general-container{
        padding: 15px;
    }

    &__divider {
        color: #FFF;
        background-color: #FFF;
        width: 80%;
         margin-top: 20px;
        margin-bottom: 20px;
    }

    &__photo-container{
        background-color: $subBlue;
        margin: 18px auto;
        width: 320px;
        height: auto;
    }

   &__profile-link{
       margin-top: 48px;
    text-align: center;
   }
}